@font-face {
  font-family: "e-Ukraine";
  src:
    url("/fonts/e-Ukraine/e-ukraine-thin_w.woff2") format("woff2"),
    url("/fonts/e-Ukraine/e-ukraine-thin_w.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src:
    url("/fonts/e-Ukraine/e-ukraine-ultralight_w.woff2") format("woff2"),
    url("/fonts/e-Ukraine/e-ukraine-ultralight_w.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src:
    url("/fonts/e-Ukraine/e-ukraine-light_w.woff2") format("woff2"),
    url("/fonts/e-Ukraine/e-ukraine-light_w.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src:
    url("/fonts/e-Ukraine/e-ukraine-regular_w.woff2") format("woff2"),
    url("/fonts/e-Ukraine/e-ukraine-regular_w.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src:
    url("/fonts/e-Ukraine/e-ukraine-medium_w.woff2") format("woff2"),
    url("/fonts/e-Ukraine/e-ukraine-medium_w.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src:
    url("/fonts/e-Ukraine/e-ukraine-bold_w.woff2") format("woff2"),
    url("/fonts/e-Ukraine/e-ukraine-bold_w.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
