.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;

  background-color: var(--prpl-100, #eff0fc);
  padding: 8px 16px 16px;

  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.topBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--primary, #000000);
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topRightBox {
  display: flex;
  align-items: center;
  gap: 22px;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 22px;
  height: 26px;
  background-color: transparent;
}

.menuNavigation {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  overflow: hidden;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--primary, #000000);

  &.languageList {
    border-bottom: unset;
  }
}

@media only screen and (min-width: 720px) {
  .backdrop {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .backdrop {
    display: none;
  }
}
